{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/expert.css' %}?after" type="text/css">

</head>
<body>
    <div class="expert_answer_con">
        <form id="commentForm" method="post">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="content" class="form-label">답변내용</label>
                <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
    
    <!-- 결과 메시지 표시 -->
    <div id="resultMessage"></div>
    
    
    
    {% endblock %}
</body>
</html>
