{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load pybo_filter %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="{% static 'css/setting.css' %}?after" type="text/css">

</head>

<body>
    <div class="setting_wrapper">

        <div class="setting_title">Settings</div>
        <h5>{{ user.username }}</h5>


        <div class="setting_con">

            <ul class="setting_ul">
                <li>
                    <a href="{% url 'common:edit_profile' %}">Info</a>
                </li>
                <li>
                    <!-- <a href="{% url 'pybo:user_question' %}">Content</a> -->
                    <button class="content_btn">Content</button>
                </li>
                <li>
                    <a href="{% url 'pybo:user_answer' %}">답변</a>
                </li>
                <li>
                    <a href="{% url 'pybo:user_comment' %}">댓글</a>
                </li>
            </ul>



            <div class="myprofile_con">
                <h2>My Profile</h2>
                <div class="myprofile_base_con">
                    <div class="myprofile_img_con">
                        {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="setting_profile_img">
                        {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Default Image" class="profile-img">
                        {% endif %}
                    </div>

                    <div class="myprofile_input">
                        <h6>UserName</h6>
                        <input type="text" placeholder="{{ user.username }}" />
                    </div>

                    <div class="myprofile_input">
                        <h6>E-mail</h6>
                        <input type="text" placeholder="{{ user.email }}" />
                    </div>

                </div>
            </div>

        </div>



        <div class="setting_content_con">
            <div>


                <div>
                    <table class="profile_content_table">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Title</th>
                                <th>Like</th>
                                <th>Category</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% if question_list %}
                            {% for question in question_list %}
                            {% if request.user == question.author %}
                            <tr>
                                <td>{{ question.id }}</td>
                                <td class="content_text">
                                    <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                                <td>{{question.voter.count}}</td>
                                <td>{{question.category.description}}</td>
                                <td>{{ question.create_date }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4">질문이 없습니다.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <ul class="paging_con">
                    <li>
                        <a tabindex="-1" aria-disabled="true" href="javascript:void(0);">이전</a>
                    </li>

                    <li aria-current="page">
                        <a class="page-link" data-page="1" href="javascript:void(0);">1</a>
                    </li>

                    <li>
                        <a tabindex="-1" aria-disabled="true" href="javascript:void(0);">다음</a>
                    </li>
                </ul>
                <!-- 페이징처리 끝 -->
                <form id="searchForm" method="get">
                    <input type="hidden" id="page" name="page" value="1">
                    <input type="hidden" id="so" name="so" value="recent">
                </form>
            </div>
        </div>

        <div class="setting_answer_con">
            <table class="profile_content_table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Title</th>
                        <th>Like</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if answer_list %}
                    {% for answer in answer_list %}
                    {% if request.user == answer.author %}
                    <tr>
                        <td> {{ answer.id }} </td>
                        <td><a href="{% url 'pybo:detail' answer.question.id %}">{{ answer.content}}</a></td>
                        <td>{{answer.voter.count}}</td>
                        <td>{{answer.question.category.description}}</a>
                        <td>{{ answer.create_date }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">질문이 없습니다.</td>
                    </tr>
                    {% endif %}

                </tbody>
            </table>


            <ul class="paging_con">

                <li>
                    <a tabindex="-1" aria-disabled="true" href="javascript:void(0);">이전</a>
                </li>
                <li aria-current="page">
                    <a data-page="1" href="javascript:void(0);">1</a>
                </li>
                <li>
                    <a tabindex="-1" aria-disabled="true" href="javascript:void(0);">다음</a>
                </li>
            </ul>
            <form id="searchForm" method="get">
                <input type="hidden" id="page" name="page" value="1">
                <input type="hidden" id="so" name="so" value="recent">
            </form>
        </div>

    </div>



    <script type="text/javascript" style="user-select: auto;">
        $(document).ready(function () {
            $(".page-link").on('click', function () {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });

            $(".so").on('click', function () {
                $("#so").val($(this).data("so"));
                $("#page").val(1);
                $("#searchForm").submit();
            });

            var profile_id = "1431";
            var user_id = "None";
            if (profile_id == user_id) {
                $(".profile-link").addClass("active");
            }

            $('.so').tooltip();
            $('[data-toggle="popover"]').popover();

            $('.content_btn').click(function () {
                $('.setting_content_con').toggleClass('visible');
            });
            $('.content_btn').click(function () {
                $('.setting_content_con').toggleClass('visible');
            });

        });



    </script>
    {% endblock %}
</body>

</html>