<div>
    <div>
        <div>

            <h3>DOG AND CAT</h3>


            <form method="post" action="{% url 'password_reset' %}">
                <div>
                    {% csrf_token %}
                    <input placeholder="Email" type="email" name="email" autocomplete="email" maxlength="254"
                        required="" id="id_email">
                </div>
                <button type="submit">
                    send Email
                </button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p>
                    <a href="{% url 'password_reset' %}">Forgot Password? </a>
                </p>
            </div>
            <div id="footer_login">
                <p>아직 dog and cat 회원이 아니신가요?
                    <a class="nav-link" href="{% url 'common:signup' %} ">Signup</a>
                </p>
            </div>
        </div>
        <p>Hoseo Corporation © 2022 </p>
    </div>
</div>